.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.video video {
    width: 100%;
}

.cabecera img {
    width: 100%;
}

.titulo img {
    width: 100%;
}

.mensaje p {
    max-width: 1000px;
    margin: auto;
    width: 90%;
    padding: 60px 0;
    text-align: center;
    font-size: 30px;
    display: none;
    font-family: 'Lilita One', cursive;
    margin-bottom: 30px;
    background-color: rgb(29, 194, 29);
    color: hsl(229, 100%, 50%);
    border: 4px solid hsl(229, 100%, 50%);
}

.aparecer p {
    display: block;
} 

#cuenta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
} 

.simply-section {
    background-color: rgb(29, 194, 29);
    width: 80%;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    border: 2px solid black;
    margin-top: 300px;
    font-family: 'Lilita One', cursive;
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
    color: hsl(229, 100%, 50%);
}

.simply-word {
    font-size: 20px;
    font-weight: 300;
}

#contador {
    background-image: url(multimedia/Mario\ 6.png);
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    margin-top: 0;
    color: #007fff;
    font-size: 30px;
    background-color: #1f1e1e;

}

#ubicacion {
    background-size: 1500%;
    padding: 30px;
    padding-top: 0;
    background-image: url(multimedia/ubicacion.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#ubicacion a {
    display: inline-block;
}

.uno {
    align-self: flex-start;
    background-color: #fc466b;
}

.dos {
    align-self: flex-end;
    margin-left: 260px;
}

h5 {
    padding: 20px;
    font-family: 'Lilita One', cursive;
    font-size: 40px;
}

#ubicacion p {
    padding: 30px;
    font-family: 'Lilita One', cursive;
    font-size: 18px;
    margin-top: 200px;
}

.btn {
    border: 2px solid black;
}

.imagenesUrna {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100% auto;
}

.imagenesUrna img {
    width: 70%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    border: none;
}

.card-text {
    font-family: 'Lilita One', cursive;
    font-size: 25px;
    padding: 40px;
    text-align: center;
    margin: 40px;
    margin-bottom: 20px;
}

.pieuno {
	background-color: #1f1e1e;
}

.pieuno h2 {
	font-family: 'Luckiest Guy', cursive;
	margin-left: 100px;
    color: #007fff;
    margin-top: 20px;
    border: 1 px solid black;
}

footer {
    color: white;
    background-color: #1f1e1e;

    font-family: 'Lilita One', cursive;
    padding: 5px;
    font-weight: 200;
}

#telefono h2,h4,h6,img {
    padding: 10px;
}

.texto {
    display: flex;
    width: 100%;
}

h6 {
    font-size: 25px;
}

#telefono img {
    border-radius: 25px;
}