.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 4px solid blue;
}

.video video {
    width: 99%;
    border: 4px solid red;
}

.cabecera img {
    width: 100%;
}

.titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 5s ease-out all;
    font-family: 'Jockey One', sans-serif;
    font-size: 20px;
    margin-bottom: 0px;
}

.mensaje p {
    max-width: 1000px;
    margin: auto;
    width: 90%;
    padding: 60px 0;
    text-align: center;
    font-size: 30px;
    display: none;
    font-family: 'Luckiest Guy', cursive;
}

.aparecer p {
    display: block;
} 

#cuenta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
} 

.simply-section {
    background-color: rgb(29, 194, 29);
    width: 80%;
    height: 120px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    border: 2px solid black;
}

.simply-amount {
    display: block;
    font-size: 50px;
    font-weight: 700;
    color: hsl(229, 100%, 50%);
}

.simply-word {
    font-size: 20px;
    font-weight: 300;
}

#contador {
    background-image: url(multimedia/Mario\ 6.png);
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid blue;
}

h1 {
    margin-top: 0;
    background-color: white;
}